body{
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(16,1fr);
    display: grid;
    background-color:white;
    margin: 0px;
    padding: 0px;
}

header{
grid-column: 1 / 8;
grid-row: 1 / 2 ;
font-family: 'BioRhyme', serif;
border-bottom:1px solid black;
background-color:forestgreen; 
}

h2{
    padding: 0px;
    margin: 0px;
}

button.login{
    grid-column: 7 / 8;
    grid-row: 1 / 2;
    border-radius: 5px;
    background-color:white;
}

article{
    margin: 10px;
    grid-column: 2 / 6;
    grid-row: 2 / 3; 
}

input.search{
width: 200px;
}

button.search{
grid-column: 7 / 8;
grid-row: 2 / 3;
}

button.menu{
grid-column: 1 / 2;
grid-row: 2 / 3;

}

aside{
grid-column: 6 / 7;
grid-row: 2 / 3;
}

main{
grid-column: 1 / 8;
grid-row: 3 / 7;
}


/*.fade{}*/